div {
  color: white;
}
table {
  margin: 0 auto;

  background-color: rgb(0, 0, 0);
}

td {
  text-align: center;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: rgb(116, 112, 112);
}

table tr:nth-child(even) {
  background-color: rgb(158, 158, 158);
}
table tr:nth-child(1) {
  background-color: rgb(51, 51, 51);
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.petitBouton {
  box-shadow: 0 0 0 1px black;
  border: 1px solid #ccc;
  border-radius: 32px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  margin: 15px;
  background-color: #ffffffd3;
  color: rgb(0, 0, 0);
}
