.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.chat-container .chat-box {
  margin: 4rem;
  min-width: 50rem;
}

.chat-container .card-body {
  height: 40rem;
}
