<section>
  <form method="post" (ngSubmit)="inscription()" [formGroup]="form">
    <fieldset>
      <div>
        <h2 style="text-align: center">Inscription</h2>
        <table>
          <ng-container formGroupName="loginGroup">
            <tr>
              <td><label>Pseudo : </label></td>
              <td>
                <input
                  type="text"
                  id="pseudo"
                  name="pseudo"
                  placeholder="Entrez votre pseudo"
                  formControlName="pseudo"
                />
                <span
                  *ngIf="
                    form.get('loginGroup.pseudo')?.hasError('pseudoDiffNom')
                  "
                  >Le pseudo doit être différent du nom</span
                >
                <span
                  *ngIf="form.get('loginGroup.pseudo')?.hasError('pseudoExist')"
                  >ce pseudo existe déjà</span
                >
              </td>
            </tr>
            <tr>
              <td><label>Nom : </label></td>
              <td>
                <input
                  type="text"
                  id="nom"
                  name="nom"
                  placeholder="Entrez votre nom"
                  formControlName="nom"
                />
              </td>
            </tr>
            <tr>
              <td><label>Prénom : </label></td>
              <td>
                <input
                  type="text"
                  id="prenom"
                  name="prenom"
                  placeholder="Entrez votre prénom"
                  formControlName="prenom"
                />
              </td>
            </tr>
          </ng-container>
          <ng-container formGroupName="mdpGroup">
            <tr>
              <td><label>Mot de passe : </label></td>
              <td>
                <input
                  type="password"
                  id="mdp"
                  name="mdp"
                  placeholder="Entrez votre mot de passe"
                  formControlName="mdp"
                />
              </td>
            </tr>
            <tr>
              <td><label>Confirmation du mot de passe : </label></td>
              <td>
                <input
                  type="password"
                  id="confirmmdp"
                  placeholder="Confirmer votre mot de passe"
                  formControlName="confirmmdp"
                />
                <span
                  *ngIf="
                    form.get('mdpGroup.confirmmdp')?.hasError('mdpIdentique')
                  "
                  >le mot de passe doit être identique</span
                >
              </td>
            </tr>
          </ng-container>

          <tr>
            <td><label>Email : </label></td>
            <td>
              <input
                type="email"
                id="mail"
                name="mail"
                placeholder="Entrez votre email"
                formControlName="emailCtrl"
              />
            </td>
          </tr>
          <tr>
            <td><label>Etes vous coach ? </label></td>
            <td><input type="checkbox" id="coach" /></td>
          </tr>
        </table>
      </div>
      <div style="text-align: center">
        <button
          type="submit"
          [disabled]="form.invalid"
          class="inscription petitBouton"
        >
          S'inscrire
        </button>
        <button (click)="retour()" class="inscription petitBouton">
          Retour
        </button>
      </div>
    </fieldset>
  </form>
</section>
