<div class="milieu">
  <div class="grilleCentral5Verti">
    <div class="grilleCentraleNomChrono">
      <div>Nom adversaire</div>
      <div id="h2"></div>
    </div>

    <div class="piecesCapturees" nom="piecesCaptureesHaut">
      <p>Pieces capturées</p>
    </div>

    <app-plateau [couleurJoueur]="couleurJoueur"></app-plateau>

    <div class="grilleCentraleNomChrono">
      <div>{{ utilisateur.pseudo }} ({{ utilisateur.elo }})</div>
      <div id="h1"></div>
    </div>

    <div class="piecesCapturees" nom="piecesCaptureesBas">
      <p>Pieces capturées</p>
    </div>
  </div>

  <app-colonne-boutons></app-colonne-boutons>
  <div class="divHistoriqueEtChat">
    <div></div>
    <app-chat></app-chat>
  </div>
</div>
