<form>
  <table class="">
    <thead></thead>
    <tr>
      <td>Pseudo</td>
      <td>{{ utilisateur.pseudo }}</td>
    </tr>
    <tbody>
      <tr>
        <td>Prenom</td>
        <td>{{ utilisateur.prenom }}</td>
      </tr>
      <tr>
        <td>Nom</td>
        <td>{{ utilisateur.nom }}</td>
      </tr>
      <tr>
        <td>Adresse e-mail</td>
        <td>{{ utilisateur.email }}</td>
      </tr>
      <tr>
        <td>Elo</td>
        <td>{{ utilisateur.elo }}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="modifier()" id="modifier">Modifier</button>
</form>
