body{
    background	: rgb(202, 202, 204);
}

fieldset {
    width:250pt;
    margin: 5px auto;
    border: 2px solid rgb(233, 36, 36);
    background-color: rgb(46, 134, 146);
    border-radius: 10px;
}

.conteneur{
    display: flex;
 }

.gauche{
    float: left;
    width:25%;
    border: solid 1px black;
 }
 .milieu{
    display: inline-block;
    width:50%;
    border: solid 1px black;
 }
 .droite{
    float: right;
    width:25%;
    border: solid 1px black;
 }
 
.plateau { 
    width: 242px;
    display: grid; 
    grid-template-columns: repeat(8, 30px); 
    grid-template-rows: repeat(8, 30px);
    text-align : center;
    border: solid 1px black;
    box-sizing: border-box;
    background: white;
}

.plateau div:nth-child(-2n+8),
.plateau div:nth-child(8) ~ div:nth-child(-2n+15),
.plateau div:nth-child(16) ~ div:nth-child(-2n+24),
.plateau div:nth-child(24) ~ div:nth-child(-2n+31),
.plateau div:nth-child(32) ~ div:nth-child(-2n+40),
.plateau div:nth-child(40) ~ div:nth-child(-2n+47),
.plateau div:nth-child(48) ~ div:nth-child(-2n+56),
.plateau div:nth-child(56) ~ div:nth-child(-2n+63)
{
    background: black;
}

.grille {
    display: grid;
    grid-template-columns:  30px 242px; 
    grid-template-rows: 242px 35px;   
}  
.grille div{
    border: solid 1px black;
} 

.grille1 {  
    display: grid;
    grid-template-columns: repeat(1, 30px); 
    grid-template-rows: repeat(8, 30px);
    text-align: center;
}

.grille1 div{
    height: 30px;
    line-height: 30px;
}

.grille2 {
    display: grid;
    grid-template-columns: repeat(8, 30px); 
    grid-template-rows: repeat(1, 30px); 
    text-align: center;
}

.grille2 div{
    height: 30px;
    line-height: 30px;
}

.grille3verti{
    display:grid;
    grid-template-columns: 100px;
    grid-template-rows: 50px 150px 50px;
}

.grille3verti div{
    border: solid 1px black;
}

.grille2lignes{
    display:grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2,150px);
}

.grille2lignes div{
    border: solid 1px black;
}

.grille5verti{
    display:grid;
    grid-template-columns: 1;
    grid-template-rows: 50px 50px 300px 50px 50px;
}
.grille5verti div{
    border: solid 1px black;
}

.grille2horiz{
    display:grid;
    grid-template-columns: 130px 130px;
    grid-template-rows: 1;
}
.grille2horiz div{
    border: solid 1px black;
}

.grille2horizGrand{
    display:grid;
    grid-template-columns: 300px 100px;
    grid-template-rows: 1;
}
.grille2horizGrand div{
    border: solid 1px black;
}
