<section>
  <form method="PUT" (ngSubmit)="modifier()" [formGroup]="form">
    <fieldset>
      <div>
        <h2 style="text-align: center">Modification du profil</h2>
        <table>
          <ng-container formGroupName="loginGroup">
            <tr>
              <td><label>Pseudo : </label></td>
              <td>
                <input
                  type="text"
                  id="pseudo"
                  name="pseudo"
                  placeholder="{{ utilisateur.pseudo }}"
                  formControlName="pseudo"
                />
                <span
                  *ngIf="
                    form.get('loginGroup.pseudo')?.hasError('pseudoDiffNom')
                  "
                  >Le pseudo doit être différent du nom</span
                >
                <span
                  *ngIf="form.get('loginGroup.pseudo')?.hasError('pseudoExist')"
                  >ce pseudo existe déjà</span
                >
              </td>
            </tr>
            <tr>
              <td><label>Nom : </label></td>
              <td>
                <input
                  type="text"
                  id="nom"
                  name="nom"
                  placeholder="{{ utilisateur.nom }}"
                  formControlName="nom"
                />
              </td>
            </tr>
            <tr>
              <td><label>Prénom : </label></td>
              <td>
                <input
                  type="text"
                  id="prenom"
                  name="prenom"
                  placeholder="{{ utilisateur.prenom }}"
                  formControlName="prenom"
                />
              </td>
            </tr>
          </ng-container>
          <tr>
            <td><label>Email : </label></td>
            <td>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="{{ utilisateur.email }}"
                formControlName="emailCtrl"
              />
            </td>
          </tr>
        </table>
      </div>
      <div style="text-align: center">
        <button
          type="submit"
          [disabled]="form.invalid"
          class="inscription petitBouton"
        >
          Modifier
        </button>
        <button (click)="retour()" class="inscription petitBouton">
          Retour
        </button>
      </div>
    </fieldset>
  </form>
</section>
