.milieu>div.zoneBouton {
	display: flex;
	padding: 20px;
	justify-content: center;

}
.parametres-content>form>table {
	display: none;
}

.parametres-content>form>table.open {
	display: flex;
}

.parametres-container {
	display: none;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.parametres-container.open {
	display: flex;
}

.parametres {
	background-color: rgba(255, 255, 255, 0.685);
	border-radius: 32px;
	overflow: hidden;
}

.parametres-header {
	background-color: #33a3eeab;
	color: white;
	font-size: 18px;
	padding: 10px;
	display: flex;
	justify-content: center;

}

.parametres-content {
	/* width:100%;
	height:100%; */
	padding: 15px 20px 30px 20px;
}

.parametres-content>form>table>thead>tr>th {
	text-align: center;
	width: 100%;
}

.parametres-content>form>table>tbody>tr>td {
	padding: 10px;
	text-align: left;
	font-size: 20px;
}
div.droite table {
	padding: 10px;
	width: 100%;
}

.probleme a {
	color: black;
	text-decoration: none;
}
.droite{
	margin-top: 30%;
}

.milieu h2, div.milieu > h2 ~p{
	color: white;
}