body{
    background	: rgb(202, 202, 204);

}

fieldset {
    width:250pt;
    margin: 5px auto;
    border: 2px solid rgb(233, 36, 36);
    background-color: rgb(46, 134, 146);
    border-radius: 10px;
}

.gauche{
    float: left;
    width:25%;
 }
 .milieu{
    display: inline-block;
    width:50%;
 }
 .droite{
    float: right;
    width:25%;
 }

 