body{
    background	: rgb(202, 202, 204);
    display: flex;
}

.gauche{
    float: left;
    width:25%;
 }

 .grilleCentralePlateauEtBoutons{
    width:50%;
    display:flex;
}

 .droite{
    float: right;
    width:25%;
 }

 .grilleCentralePlateauEtBoutons .grilleCentral5Verti{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    border: solid 1px black;
    box-sizing: border-box;
}
 
.grilleCentralePlateauEtBoutons .grilleCentral5Verti .grilleCentraleNomChrono{
    width : 100%;
    height: 30px;
    display:grid;
    grid-template-columns: 50% 50%;
    border: solid 1px black;
    box-sizing: border-box;
    background: blue;
}

.grilleCentralePlateauEtBoutons .grilleCentral5Verti .piecesCapturees {
    width : 100%;
    height: 30px;
    border: solid 1px black;
    box-sizing: border-box;
    background: yellow;
}

.grillePlateau {
    display: grid;
    grid-template-columns:  50px 400px; 
    grid-template-rows: 400px 50px;
    margin : 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grillePlateau1a8 {  
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(1, 50px); 
    grid-template-rows: repeat(8, 50px);
    text-align: center;
}
.grillePlateau1a8 div{
    height: 50px;
    line-height: 50px;
    border: solid 1px black;
    box-sizing: border-box;
}

.grillePlateauPrincipal {
    display: grid; 
    grid-row: 1;
    grid-column: 2;
    grid-template-columns: repeat(8, 50px); 
    grid-template-rows: repeat(8, 50px);
    text-align : center;
}
.grillePlateauPrincipal div{
    background: white;
    
    border: solid 1px black;
    box-sizing: border-box;
}
.grillePlateauPrincipal div:nth-child(-2n+8),
.grillePlateauPrincipal div:nth-child(8) ~ div:nth-child(-2n+15),
.grillePlateauPrincipal div:nth-child(16) ~ div:nth-child(-2n+24),
.grillePlateauPrincipal div:nth-child(24) ~ div:nth-child(-2n+31),
.grillePlateauPrincipal div:nth-child(32) ~ div:nth-child(-2n+40),
.grillePlateauPrincipal div:nth-child(40) ~ div:nth-child(-2n+47),
.grillePlateauPrincipal div:nth-child(48) ~ div:nth-child(-2n+56),
.grillePlateauPrincipal div:nth-child(56) ~ div:nth-child(-2n+63)
{
    background: rgb(71, 71, 71);
}

.grillePlateauAaH {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(8, 50px); 
    text-align: center;
}
.grillePlateauAaH div{
    height: 50px;
    line-height: 50px;
    border: solid 1px black;
    box-sizing: border-box;
}

.flexAbandonnerNul {
    display: flex;
    width : auto;
    flex-direction: column;
    justify-content: center;  
}

.divHistoriqueEtChat {
    height: 50%;
    border: solid 1px black;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.rotation{
    transform: scaleY(-1);
}

@media screen and (max-width : 600px){
    
}

