<div class="gauche">
  <nav>
    <ul>
      <li class="active">
        <a
          [routerLink]="[
            {
              outlets: {
                primary: ['accueil'],
                droite: ['divDroiteAccueil']
              }
            }
          ]"
          >Projet Echecs</a
        >
      </li>

      <li>
        <a
          [routerLink]="[
            {
              outlets: {
                primary: ['historique'],
                droite: ['divDroite']
              }
            }
          ]"
          >Historique</a
        >
      </li>

      <li>
        <a
          [routerLink]="[
            {
              outlets: {
                primary: ['probleme'],
                droite: ['divDroite']
              }
            }
          ]"
          >Probleme</a
        >
      </li>
      <li>
        <a
          [routerLink]="[
            {
              outlets: {
                primary: ['profil'],
                droite: ['divDroite']
              }
            }
          ]"
          >Profil</a
        >
      </li>

      <li>
        <a
          [routerLink]="[
            {
              outlets: {
                primary: ['statistiques'],
                droite: ['divDroite']
              }
            }
          ]"
          >Mes statistiques</a
        >
      </li>
      <li *ngIf="connecte">
        <a
          [routerLink]="[
            {
              outlets: {
                primary: ['deconnexion'],
                droite: ['divDroite']
              }
            }
          ]"
          >Deconnexion</a
        >
      </li>
    </ul>
  </nav>
</div>
