<div class="gauche">
  <nav>
    <ul>
      <li class="active">
        <a routerLink="/accueil">Projet Echecs</a>
      </li>

      <li>
        <a routerLink="/historique">Historique</a>
      </li>

      <li>
        <a
          [routerLink]="[
            {
              outlets: {
                primary: ['jeu'],
                droite: ['chat']
              }
            }
          ]"
          >Jeu en cours</a
        >
      </li>

      <li>
        <a routerLink="/probleme">Probleme</a>
      </li>
      <li>
        <a routerLink="/profil">Profil</a>
      </li>

      <li>
        <a routerLink="/statistiques">Mes statistiques</a>
      </li>
      <li *ngIf="connecte">
        <a routerLink="/deconnexion">Deconnexion</a>
      </li>
    </ul>
  </nav>
</div>
