.grillePlateau1a8 {
  display: grid;
  text-align: center;
  background: grey;
  grid-row: 1;
  grid-column: 1;
  grid-template-columns: repeat(1, 50px);
  grid-template-rows: repeat(8, 50px);
}

.grillePlateau1a8 div {
  height: 50px;
  line-height: 50px;
  border: solid 1px black;
  box-sizing: border-box;
}

.noir {
  transform: scaleY(-1);
}

.noir div {
  transform: scaleY(-1);
}
