.petitBouton {
  box-shadow: 0 0 0 1px black;
  border: 1px solid #ccc;
  border-radius: 32px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  margin: 15px;
  background-color: #ffffffd3;
  color: rgb(0, 0, 0);
}

table {
  width: 100%;
}
